<div class="footer-page" [@routerTransition]>
  <div class="footer-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
            <img src="assets/images/udg.png"  alt="UDG" height="120">
            <img src="assets/images/cucei.png"  alt="CUCEI" height="120"> 
          <p>Universidad de Guadalajara</p>
          <p>CUCEI</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <h3>RECURSOS</h3>
          <ul class="footer-category">
            <li><a href="#.">Electronics</a></li>
            <li><a href="#.">Vahicles</a></li>
            <li><a href="#.">Bikes</a></li>
            <li><a href="#.">Animals</a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-3 col-sm-6">
          <h3>REFERENCIAS</h3>
          <ul class="footer-category">
            <li><a href="#.">Electronics</a></li>
            <li><a href="#.">Vahicles</a></li>
            <li><a href="#.">Bikes</a></li>
            <li><a href="#.">Animals</a></li>
          </ul>
        </div>
      </div>
      <div class="copyright">Derechos reservados 2019 © </div>
    </div>
  </div>
</div>